
/* Estilo para os campos do formulário no metabox */
.conteudo form label,
.conteudo form input[type="text"],
.conteudo form textarea,
.conteudo form input[type="number"] {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para o botão Excluir */
.conteudo form .excluir-conteudo {
    background-color: #ff0000; /* Altere para a cor desejada */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
